adjustText>=0.8
biopython>=1.85
kaleido==0.2.1
matplotlib>=3.10.0
networkx>=2.8.8
node2vec>=0.4.6
numpy<2.0.0
openpyxl>=3.1.5
pandas>=2.2.2
plotly>=5.24.1
pymarc>=5.2.3
python-louvain>=0.16
requests>=2.32.4
scikit-learn>=1.6.1
scipy>=1.16.3
seaborn>=0.13.2
statsmodels>=0.14.6
tqdm>=4.67.1
